.Left-SideBar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 15vw; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 70px;
}

.Right-SideBar {
  margin-left: 15vw;
  width: 85vw; /* Set the width of the sidebar */
}

.card-img-top {
  width: 100%;
  height: 27vh;
  object-fit: cover;
}

.ant-checkbox-wrapper {
  margin-bottom: 0 !important;
}

.ant-checkbox {
  margin-right: 5px;
}

.left-side-container {
 
}

.right-side-container {
  
}

.img-rightside {
  width: 100%;
  height: 15vh;
  object-fit: cover;
}

.img-leftside {
  width: 100%;
  height: 46vh;
  object-fit: cover;
}

.control-panel {
  
}
.card-rest {
  width: 450px !important;
  height: 370px !important;
}
